%header.header
  .container
    .row
      .left-section
        .header-nav
          %a{:href => ""}
            Home
          %a{:href => ""}
            Discover Chefs
      .center-section
        %a.logo{:href => ""}
      .right-section
        .header-nav
          %a{:href => ""}
            Sign In
          %a.btn-bordered{:href => ""}
            Create Account
    

.container
  .section
    .chef-page
      .chef-page-header.w-photo.group
        .user-photo
        .overview-header
          .chef-info-summary
            %h3
              Joe Baker
              .chef-meta-info
                %span.location
                  Bonifacio Global City
                %span.middot
                  &middot;
                %span.guests-served
                  15 guests served
            %p
              Consider me as your mad scientist thus ANI is my food Lab. I serve a wide variety of dishes that are created and plated in a way it was never made before. I break free from the common norm of traditional eating. All my dishes are plated and served with a story now the ball is in your court. Try out ANI Food Labs and be a part of the story told by each dish.
            %p
              Every event will be different. Every menu will be different from the other so don't miss out!!!
        .page-action
          .price-per-person
            P580
            .price-label
              per person
          %div
            %a.btn.btn-secondary{:href => ""}
              Book
            %a.btn.btn-sm
              Send a message
    %ul.link-tabs
      %li.link-tab-active
        %a.btn
          Details
      %li
        %a.btn
          15 Reviews
          .chef-rating.chef-rating-small
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star
            %i.fa.fa-star.fa-disabled
      %li
        %a.btn
          Gallery

    / CAROUSEL
    .gallery-carousel
      .gallery-image
        hello 1
      .gallery-image
        hello 2
      .gallery-image
        hello 3
      .gallery-image
        Lorem ipsum dolor sit amet.
    .section-small
      %h4
        Available Dates for the Week
      .date-picker
        .date-picker-tile
          .date-picker-head.active
            November
          .date-picker-box
            .date-picker-days
              .date-day-number
                25
                %span.date-day
                  tue
              .date-day-time
                7:30 pm
            .date-picker-action
              %a.btn.btn-secondary
                Book
              .seats-left
                %strong
                  6 
                seats left
        .date-picker-tile
          .date-picker-head
            &nbsp;
          .date-picker-box.date-picker-full
            .date-picker-days
              .date-day-number
                26
                %span.date-day
                  tue
              .date-day-time
                7:30 pm
            .date-picker-action
              %a.btn.btn-disabled.disabled
                Full
              
                
        .date-picker-tile
          .date-picker-head
            &nbsp;
          .date-picker-box
            .date-picker-days
              .date-day-number
                27
                %span.date-day
                  tue
              .date-day-time
                7:30 pm
            .date-picker-action
              %a.btn.btn-secondary
                Book
              .seats-left
                %strong
                  6 
                seats left
        .date-picker-tile
          .date-picker-head
            &nbsp;
          .date-picker-box
            .date-picker-days
              .date-day-number
                28
                %span.date-day
                  tue
              .date-day-time
                7:30 pm
            .date-picker-action
              %a.btn.btn-secondary
                Book
              .seats-left
                %strong
                  6 
                seats left
        .date-picker-tile
          .date-picker-head
            &nbsp;
          .date-picker-box
            .date-picker-days
              .date-day-number.date-picker-full
                29
                %span.date-day
                  tue
              .date-day-time
                7:30 pm
            .date-picker-action
              %a.btn.btn-disabled.disabled
                Full
              
        .date-picker-tile
          .date-picker-head
            &nbsp;
          .date-picker-box
            .date-picker-days
              .date-day-number
                30
                %span.date-day
                  tue
              .date-day-time
                7:30 pm
            .date-picker-action
              %a.btn.btn-secondary
                Book
              .seats-left
                %strong
                  6 
                seats left
        .date-picker-tile
          .date-picker-head.active
            October
          .date-picker-box
            .date-picker-days
              .date-day-number
                1
                %span.date-day
                  tue
              .date-day-time
                7:30 pm
            .date-picker-action
              %a.btn.btn-secondary
                Book
              .seats-left
                %strong
                  6 
                seats left
    .section
      %h4
        What you need to know
      .section.section-small
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, deleniti.
        %p
          Lorem ipsum dolor sit amet.