.welcome
  .logo-icon
  %h1.logo
    Cutlery
    %cite
      www.cutleryph.com
  %h2.subheadline
    Order food online directly from chefs.

  %p
    %strong
      We are launching soon
.welcome-footer
  Are you a chef? Passionate about cooking? Be part of CutleryPH. Email us at team@cutleryph.com