.welcome
  .logo-icon
  %h1.logo
    Cutlery
    %cite
      www.cutleryph.com
  %h2.subheadline
    Order food online directly from chefs.

  %p
    %strong
      We are launching soon
  .social
    %a{:href => "https://www.facebook.com/cutleryph", target: "_blank"}
      %i.fa.fa-facebook
    %a{:href => "http://instagram.com/cutleryph" , target: "_blank"}
      %i.fa.fa-instagram
.welcome-footer
  Are you a chef? Passionate about cooking? Be part of CutleryPH. Email us at team@cutleryph.com