.landing-page
  %header.header.header-welcome
    .container
      .row
        .left-section
          
        .center-section
          %a.logo-w-label{:href => ""}
        .right-section
          
      .row
        %h1
          Discover your local chefs and their food
        %h3.text-center
          We are launching soon
  
    .fixed-footer-invite
      Are you a chef? Passionate about cooking? Be part of CutleryPH. Email us at team@cutleryph.com