// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "https://fonts.googleapis.com/css?family=Trocchi)"
@import "https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300)"

// TEMPORARY LANDING PAGE
body
  font-family: "Helvetica Neue","Helvetica", sans-serif
  background-color: #E43A3A
  color: #fff
  font-size: 16px
  text-align: center
  -webkit-font-smoothing: antialiased
  font-weight: normal

.welcome
  margin-top: 100px
  padding: 0 20px
  width: 100%
  box-sizing: border-box
  -moz-box-sizing: border-box
.logo-icon
  background-image: asset-url('logo-icon.png')
  background-size: 100%
  background-repeat: no-repeat
  width: 59px
  height: 53px
  display: inline-block
.logo
  // font-family: "Trocchi", serif
  width: 300px
  height: 60px
  text-align: center
  background:
    image: asset-url('logo-cutlery.svg')
    repeat: no-repeat
    size: 200px 100px
    position: center
  margin: 0 auto
.logo-domain
  font-style: normal
  font-family: "Roboto Slab", sans-serif
  font-weight: 400
  font-size: 1.4rem
  display: block
  letter-spacing: 5px
  margin-top: 10px
  padding-top: 10px
h2.subheadline
  font-weight: normal
  font-family: "Roboto Slab", sans-serif
  font-weight: 300
  margin-top: 70px
  margin-bottom: 20px
.welcome-footer
  position: fixed
  width: 100%
  bottom: 0
  padding: 10px
  font-size: 12px
.social
  margin-top: 30px
  a
    text-decoration: none
    border-radius: 5px
    padding: 10px 12px
    color: white
    font-size: 3rem
    margin: 0 15px

@media only screen and (max-device-width: 320px)
  .welcome
    margin-top: 40px
  h2.subheadline
    margin-top: 35px
